<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; D'Arcey Taylor. All rights reserved.</li>
        <!-- this is where my template design came from-->
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>

</div>

<!--JavaScripts-->
<script src="Scripts/jquery.min.js"></script>
<script src="Scripts/jquery.scrolly.min.js"></script>
<script src="Scripts/jquery.scrollzer.min.js"></script>
<script src="Scripts/skel.min.js"></script>
<script src="Scripts/util.js"></script>
<script src="Scripts/main.js"></script>
<script src="Scripts/app.js"></script>
</body>

</html>
<!--Where the portfolio template ends-->