<!-- Contact Page -->
<section id="contact" class="four">
    <div class="container">

        <header>
            <h2>Contact</h2>
        </header>

        <p>If you would like to contact me about any business proposals or 
            if you have any questions that you think I may be able help you
            with, please feel free to submit an email and I will get back 
            to you as soon as I am able.</p>
        <!-- Form to send email -->
        <form method="post" action="MAILTO:darceytaylor05@gmail.com">
            <div class="row">
                <div class="6u 12u$(mobile)">
                    <input type="text" name="name" placeholder="Name" />
                </div>
                <div class="6u$ 12u$(mobile)">
                    <input type="email" name="email" placeholder="Email" />
                </div>
                <div class="12u$">
                    <textarea name="message" placeholder="Message"></textarea>
                </div>
                <div class="12u$">
                    <input type="submit" name="submit" value="Send Message" />
                </div>
            </div>
        </form>

    </div>
</section>