<!--
    Date: 2016/02/10
    Author: D'Arcey Taylor
    File: DTASSIGNMENT1
    Website: http://dt-assignment1.azurewebsites.net/#home
    Reason: This is my contact view that enables the viewer to contact me
-->
<!-- Contact Page -->
<section id="contact" class="four">
    <div class="container">

        <header>
            <h2>Contact</h2>
        </header>

        <p>If you would like to contact me about any business proposals or if you have any questions that you think I may be
            able help you with, please feel free to submit an email and I will get back to you as soon as I am able.</p>

        <!-- Form to send email.... Doesn't work perfectly but works-->
        <form method="post" action="MAILTO:darceytaylor05@gmail.com">
            <div class="row">
                <div class="6u 12u$(mobile)">
                    <input type="text" placeholder="Name" />
                </div>
                <div class="6u$ 12u$(mobile)">
                    <input type="email" placeholder="Email" />
                </div>
                <div class="12u$">
                    <textarea placeholder="Message"></textarea>
                </div>
                <div class="12u$">
                    <input type="submit" value="Send Message" />
                </div>
            </div>
        </form>

    </div>
</section>