<!--
    Date: 2016/02/10
    Author: D'Arcey Taylor
    File: DTASSIGNMENT1
    Website: http://dt-assignment1.azurewebsites.net/#home
    Reason: this file contains the bulk of my content, and includes all views, project links
-->
<!-- Link to header -->
<% include partials/header.ejs %>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        <section id="home" class="one dark cover">
            <div class="container">

                <header>
                    <h2 class="alt">Hi! I'm <strong>D'Arcey Taylor</strong>,<br />
                                    thanks for stopping by my site.</h2>
                    <p>Please feel free to check out the projects that I have worked on in the past.
                        <br /> If you would like to contact me about my work or you would like to work with me on a project
                        <br /> go ahead and shoot me an email down below.</p>
                </header>

                <footer>
                    <a href="#about" class="button scrolly">Let's Get Started</a>
                </footer>

            </div>
        </section>

        <!-- About Me -->
        <section id="about" class="three">
            <div class="container">

                <header>
                    <h2>About Me</h2>
                </header>

                <a href="#" class="image featured"><img src="images/color_run.jpg" alt="" /></a>

                <p>I am currently enrolled in the Computer Programming program at Georgian College, where I have learned to
                    use many different coding languages such as HTML5, CSS, PHP, Java, Arduino and many others. In my spare
                    time I enjoy playing video games, guitar, spending time with my friends, and playing with my dogs. But
                    when it comes to my school work I am very passionate and take it very seriously.
                </p>

            </div>
        </section>

        <!-- Portfolio Projects -->
        <section id="projects" class="two">
            <div class="container">

                <header>
                    <h2>Projects</h2>
                </header>

                <p>Here are some of my sample projects that I have been involved in, in the past that you can view.</p>
                <!-- All my previous work examples-->
                <div class="row">
                    <div class="4u 12u$(mobile)">
                        <article class="item">
                            <iframe class="image fit" width="420" height="315" src="https://www.youtube.com/embed/7IACxGVMZco" frameborder="0" allowfullscreen></iframe>
                            <header>
                                <h3>E-mail App in C#</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="http://gc200302660.computerstudi.es/IntroToWeb/Lesson_11/login.php" class="image fit"><img src="images/site.jpg" alt="" /></a>
                            <header>
                                <h3>Sample Website in PHP feat.<br />Login System using Databases</h3>
                            </header>
                        </article>
                    </div>
                    <div class="4u 12u$(mobile)">
                        <article class="item">
                            <iframe class="image fit" width="420" height="315" src="https://www.youtube.com/embed/0NT0o-MSW_M" frameborder="0" allowfullscreen></iframe>
                            <header>
                                <h3>Craps Simulator in  C#</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="http://gc200302660.computerstudi.es/Virtual%20Comm/home.php" class="image fit"><img src="images/site2.jpg" alt="" /></a>
                            <header>
                                <h3>Sample Website in PHP<br />About Semester 2 of my Program</h3>
                            </header>
                        </article>
                    </div>
                    <div class="4u$ 12u$(mobile)">
                        <article class="item">
                            <iframe class="image fit" width="420" height="315" src="https://www.youtube.com/embed/rfN6N0hDCz4" frameborder="0" allowfullscreen></iframe>
                            <header>
                                <h3>Temperature Converter in C#</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="http://gc200302660.computerstudi.es/Web%20and%20Internet%20Fundamentals/Project1/index.html" class="image fit"><img src="images/site3.jpg" alt="" /></a>
                            <header>
                                <h3>Sample Website using HTML & CSS<br />Includes basic PayPal page</h3>
                            </header>
                        </article>
                    </div>
                </div>

            </div>
        </section>

        <% include contact.ejs %>
    </div>

    <% include partials/footer.ejs %>